<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wumart.lib">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <service
            android:name=".service.WuDownLoadService"
            android:enabled="true"
            android:exported="false"/>
        <!--<activity
            android:name=".libzxing.CaptureActivity"
            android:screenOrientation="portrait"/>-->
    </application>

</manifest>
